body{
/*    background: #673AB7;*/
}

.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #343a40;
    
}

 

    

.table {
    width: 100%;
    margin-bottom: 1rem;
    color: #35459b;
}